<a href="https://colab.research.google.com/github/pkrc267/IndoorLocalization/blob/master/20_04_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pandas.testing as tm
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import datasets
from io import StringIO

from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:

frame0=pd.read_csv("/content/newRssiDblock-4.csv")

## Reading processed data without **'Z'** attribute

In [33]:
frame0.head()

        Name            Address  Signal Level  ...   Y              MAC  Location
0   BPGC-NAB  70:EA:1A:22:8F:E0           -41  ...  26  124150763130848      2026
1   BPGC-NAB  08:4F:A9:10:4B:80           -49  ...  26    9138231856000      2026
2   BPGC-NAB  00:A3:8E:60:F2:A0           -72  ...  26     702468387488      2026
3  BPGC-WIFI  40:01:7A:B1:00:40           -70  ...  26   70375097565248      2026
4   BPGC-NAB  70:EA:1A:22:A9:A0           -66  ...  26  124150763137440      2026

[5 rows x 7 columns]



---
# Feature Engineering

### Filtering out too weak signal strengths

In [34]:
location_signalMean = frame0.groupby('Location', as_index=False)['Signal Level'].mean()
type(location_signalMean)

pandas.core.frame.DataFrame

In [0]:
lsm = location_signalMean.copy()

In [36]:
frame0.shape

(1691, 7)

In [0]:
for i, r1 in lsm.iterrows():
  for j, r2 in frame0.iterrows():
    if r2['Location'] == r1['Location']:
      if (r2['Signal Level'] < (r1['Signal Level'] - 10)):
      # if (r2['Signal Level'] < (r1['Signal Level'] - 20)) or (r2['Signal Level'] > (r1['Signal Level'] + 20)):
        # print(r2['Signal Level'], "------", r1['Signal Level'])
        frame0.drop(j, inplace=True)

In [45]:
frame0.shape

(1222, 7)

### Performing **_One-Hot Encoding_** to create new features out of "*Categorical data*"

In [0]:
frame = pd.get_dummies(frame0)

In [47]:
frame.head()

   Signal Level   X  ...  Address_A8:B4:56:CC:DE:00  Address_AC:E2:D3:B6:BA:1E
0           -41  20  ...                          0                          0
1           -49  20  ...                          0                          0
2           -72  20  ...                          0                          0
3           -70  20  ...                          0                          0
4           -66  20  ...                          0                          0

[5 rows x 58 columns]

### new features help in stronger prediction

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
TV=frame.drop(['X','Y'], axis=1)
FV=frame.Location
TV.fillna(TV.mean, inplace=True)

Filled NaN entries with **mean** of corresponding columns

In [50]:
TV.head()

   Signal Level  ...  Address_AC:E2:D3:B6:BA:1E
0           -41  ...                          0
1           -49  ...                          0
2           -72  ...                          0
3           -70  ...                          0
4           -66  ...                          0

[5 rows x 56 columns]

In [0]:
TV_train,TV_test,FV_train,FV_test=train_test_split(TV, FV, test_size=0.1, random_state=1)



---



---


## Actual Accuracy

In [52]:
clf = RandomForestClassifier(max_depth=8,random_state=0)
clf.fit(TV_train,FV_train)
FV_pred = clf.predict(TV_test)
print("actual Accuracy: ", clf.score(TV_test,FV_test)*100)

actual Accuracy:  20.32520325203252

In [0]:
# FV_test.to_numpy()

In [0]:
original = pd.Series([],dtype='float64')
original['x'] = FV_test.to_numpy(copy=True)
original['y'] = FV_test.to_numpy(copy=True)
# original['z'] = FV_test

In [0]:
# original['x'].shape
# type(original)

In [0]:
v = FV_test.to_numpy(copy=True)

In [0]:
# v.size

In [0]:
# original['x']
# FV_test.size

In [0]:
for i in range(0, FV_test.size):
  # original['z'][i] = v[i] %100
  v[i] = v[i] // 100
  original['y'][i] = v[i] %100
  v[i] = v[i] // 100
  original['x'][i] = v[i] %100
  v[i] = v[i] // 100

In [0]:
# original['x'].shape

In [0]:
predicted = pd.Series([],dtype='float64')
predicted['x'] = FV_pred.copy()
predicted['y'] = FV_pred.copy()
# predicted['z'] = FV_pred

In [0]:
for i in range(0,FV_pred.size):
  # predicted['z'][i] = FV_pred[i] %100
  FV_pred[i] = FV_pred[i] // 100
  predicted['y'][i] = FV_pred[i] %100
  FV_pred[i] = FV_pred[i] // 100
  predicted['x'][i] = FV_pred[i] %100
  FV_pred[i] = FV_pred[i] // 100

In [0]:
# predicted['x'].shape

In [0]:
# type(original['x'])

In [0]:
def relaxaCheck(predicted, original):
  relaxed = original.copy()
  for i in range(0, predicted.size):
    if predicted[i] in range(original[i]-2, original[i]+2):
      relaxed[i] = 1
    else:
      relaxed[i] = 0
  
  return relaxed

In [0]:
relaxed_x = relaxaCheck(predicted['x'], original['x'])#.to_numpy())
relaxed_y = relaxaCheck(predicted['y'], original['y'])#.to_numpy())
# relaxed_z = relaxaCheck(predicted['z'], original['z'].to_numpy())

In [0]:
# relaxed_x



---
## Relaxed Accuracy

In [68]:
c=0
for i in range(0, relaxed_x.size):
  if relaxed_x[i] == relaxed_y[i] == 1: #relaxed_z[i] == 1:
    c+=1

print(100*c/relaxed_x.size)

71.54471544715447